plugin/src/testFixtures/resources/TestXsd.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="test">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:integer"/>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
            <xs:attribute use="required" type="xs:integer" name="id"/>
        </xs:complexType>
    </xs:element>
</xs:schema>